<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog <%= blog.title %></title>
    <style>
      .center-text {
        text-align: center;
      }
      .blog-image {
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      .author-info img {
        border-radius: 50%;
      }
      .comment-section img {
        border-radius: 50%;
        margin-right: 10px;
      }
      .comment {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      .comment pre {
        margin: 0;
        margin-left: 10px;
      }
      .blog-body {
        background-color: #f8f9fa;
        padding: 15px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        white-space: pre-wrap;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/scripts') %>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <div class="center-text">
        <h1><%= blog.title %></h1>
        <br>
        <img src="<%= blog.coverImageURL %>" alt="Cover Image" class="blog-image">
      </div>
      <div class="mt-4 blog-body">
        <pre><%= blog.body %></pre>
      </div>
    </div>

    <div class="container mt-3 author-info">
      <div class="d-flex align-items-center">
        <img src="<%= blog.createdBy.profileImageURL %>" width="30px">
        <pre class="mb-0 ms-2"><%= blog.createdBy.fullName %></pre>
      </div>
    </div>

    <div class="container mt-4">
      <h2>Comments (<%= comments.length %>)</h2>
      
      <!-- Allowing signed in user to publish his/her comment -->
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="POST" class="mb-4">
        <div class="mb-3">
          <input type="text" class="form-control" id="content" aria-describedby="content" name="content" placeholder="Your comment...">
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
      <% } %>
      
      <!-- Displaying all the comments to the user irrespective of signed-in status -->
      <div class="container comment-section mt-3">
        <% comments.forEach(comment => { %>
        <div class="comment">
          <img src="<%= comment.createdBy.profileImageURL %>" width="30px">
          <span><%= comment.createdBy.fullName %></span>
          <pre><%= comment.content %></pre>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
